[submodule "hacktricks"]
	path = hacktricks
	url = git@github.com:carlospolop/hacktricks.git
[submodule "Nuclei-Templates-Collection"]
	path = Nuclei-Templates-Collection
	url = https://github.com/emadshanab/Nuclei-Templates-Collection.git
[submodule "research"]
	path = research
	url = git@github.com:AnasAboreeda/Research.git
